# Banco de Dados PostgreSQL
DB=awesome_estoque         # nome do banco de dados
DB_USER=postgres           # nome do usuário
DB_PASSWORD=senhaSegura123 # senha do banco
DB_HOST=localhost          # host (use 'localhost' para desenvolvimento local)

# JWT
SECRET_KEY=umaChaveMuitoSecretaQueNaoDeveVazar123!
JWT_EXPIRATION=1d          # ou 3600s, 12h etc

# URL da aplicação
APP_URL=http://localhost:3000
