@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #f9f9f9;
  --text: #333;
  --title: #007bff;
  --label: #555;
  --input-bg: #fff;
  --input-border: #ccc;
  --input-text: #000;
  --primary: #007bff;
  --primary-hover: #0056b3;
  --link: #007bff;
  --error-bg: #ffe6e6;
  --error-border: #ff4d4d;
  --error-text: #d8000c;
}

.dark {
  --bg: #1e1e1e;
  --text: #e0e0e0;
  --title: #66b0ff;
  --label: #ccc;
  --input-bg: #2b2b2b;
  --input-border: #444;
  --input-text: #f9f9f9;
  --primary: #3399ff;
  --primary-hover: #267acc;
  --link: #66b0ff;
  --error-bg: #5c1e1e;
  --error-border: #aa4444;
  --error-text: #ff9999;
}
